<p>
  <strong>Scheduled at:</strong>
  <%= @appointment.scheduled_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer.full_name %>
</p>

<p>
  <strong>Workers:</strong>
  <% @appointment.workers.each do |worker| %>
      <%= worker.full_name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
